    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted"> 2021 <i class="far fa-copyright"></i> Todos los derechos reservados: "Tienda Media" by "The Lord of the Things"  </span>
      </div>
    </footer>